@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /*   color variables */
  --clr-primary: #1B23F6;
  --clr-primary-hover: #3e45fa;
  --clr-primary-dark: #0d12a5;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 80%;
  margin-left: auto;
  margin-right:auto;
}



.nav-list {
  background: white;
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item:first-child span{
  color: #1B23F6;
}

.btn-primary {
  font-family: 'Roboto', sans-serif;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

.page-content {
    padding: 6rem 0;
 }

.content1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #595959;
}

.content2 {
  font-weight: 700;
  font-size: 6rem;
}

.content2 span {
  color: #1B23F6;
}

.content3 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #595959;
}

.content3 a {
  text-decoration: none;
  color: #1B23F6;
}

.grid-colspan-2{
  grid-column: span 2;
}
 form{
   padding: 2rem 0;
   display: grid;
   max-width: 50%;
   gap: 1.5rem;
   grid-template-columns: repeat(2,1fr);
 }

 input{
  border-radius: 2rem;
  border-style: none;
  background-color: rgba(0, 0, 0, 8%);
  height: 5rem;
  width: 100%;
 }

 .form-group{
   transition: all .3s;
 }

 .form-label{
   font-size: 1.2rem;
   opacity:1;
   display: block;
   transform:translateY(-3rem);
   transform-origin:0 0;
   transition: all .3s;
   padding-left:2rem;
   color: #4d4d4d;
 }

 .form-control{
  border-radius: 2rem;
  border-style: none;
  background-color: rgba(0, 0, 0, 8%);
  height: 5rem;
  width: 100%;
  transition: all .5s;
  padding-top: 1.2rem;
  padding-left: 1.7rem;
  font-size: 1.2rem;

 }

 .form-control::placeholder{
   color:transparent;
 }

 .form-control:focus{
   outline:none;
   background-color: rgba(0, 0, 0, 20%);;
 }

 .form-control:focus + .form-label,.form-control:not(:placeholder-shown) + .form-label{
  transform:translateY(-4rem) scale(.8);
  color: #646464;
 }

 .form-group:focus-within{
   transform:scale(1.02,1.02);
 }

 input[type='submit']{
   background-color: #1B23F6;
   color:#fff;
   font-size: 1.2rem;
   font-weight: 700;
   border-radius: 5rem;
   cursor: pointer;
 }

 input[type='reset']{
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5rem;
  cursor: pointer;
}